.jumbotron{
	background: #B3FFAB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sizing{
	font-size: 1.4rem;
}

.navbar-dark .navbar-nav .nav-link{
	color: rgb(255,255,255);
}

.navbar-dark .navbar-nav .active>.nav-link{
	color: rgb(247, 184, 10);
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: rgb(247, 184, 10);
}

.font1{
	font-family: 'Raleway', sans-serif;
}

.font2{
	font-family: 'Architects Daughter', cursive;
	font-weight: 600;
}